page-verifica-email {
    #title {
        padding-top: 50px;
        padding-bottom: 10px;
    }

    p {
        max-width: 80%;
        margin: 0 auto;
    }

    .botoes{
        position: absolute;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        padding-top: 40px;
        margin-top: 20px;
    }

    .unect {
		margin: 0 auto;
		display: block;
	}
}
