page-verifica-email {
    h1,h2{
        text-align: center;
    }

    .botoes{
        position: absolute;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        padding-top: 40px;
    }
}
