page-home {
	.water-img {
		margin-top: 20px;
	}

	.btn-circle.btn-xl {
		width: 34vw;
		height: 34vw;
		padding: 10px 16px;
		font-size: 24px;
		line-height: 1.33;
		border-radius: 17.2vw;
	}

	.row {
		min-height: 33vw;
	}

	.btn-circle.btn-xl ion-icon {
		font-size: 4em;
	}

	.unect {
		margin: 0 auto;
		display: block;
	}

	p {
		max-width: 80%;
		margin: 0 auto;
	}

	.buttons {
		margin-top: 20px;
	}
}
