page-home {

	.btn-circle.btn-xl {
		width: 34vw;
		height: 34vw;
		padding: 10px 16px;
		font-size: 24px;
		line-height: 1.33;
		border-radius: 17.2vw;
	}

	.row {
		min-height: 33vw;
	}

	.btn-circle.btn-xl ion-icon {
		font-size: 4em;
	}

}
